@import "bourbon/bourbon"
@import "sass/_custom"

/*Внешние блоки*/

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "ProximaNovaRegular", sans-serif
	overflow-x: hidden

.header
	&__top
		padding: 18px 0
	&__h-email
	&__h-info
		text-align: center
	&__h-phone
		display: inline-block
	&__h-buttons
		display: inline-block
		font-size: 0
		padding-left: 15px
	&__bottom
		background-color: #000
		position: relative
	&__h-logo
		padding-top: 22px
		padding-bottom: 22px
		display: inline-block
		position: relative
		z-index: 2
	&__h-nav
		display: block
		position: absolute
		left: 0
		right: 0
		top: 0
		text-align: center
	&__h-wrapper
		position: absolute
		right: 15px
		top: 50%
		transform: translateY(-50%)
	&__h-social
		display: inline-block
	&__h-search
		display: inline-block
		position: relative
		padding-left: 20px
		&::before
			content: ''
			position: absolute
			height: 30px
			width: 1px
			background-color: #fff
			left: 0
			top: 50%
			margin-top: -15px
			display: block
	&__h-dispatch,
	&__h-sitesearch
		display: none
		position: absolute
		right: 15px
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)

.page
	&__top
		background-repeat: no-repeat
		background-position: center center
		background-size: 100% auto
		position: relative
		padding: 20px 0 100px
		margin-bottom: 30px
		&::after
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			width: 100%
			height: 100%
			z-index: 1
			background-color: rgba(#000,.6)
	&__p-path
		margin-top: 60px
		margin-bottom: 40px
		padding-top: 20px
		padding-bottom: 28px
		position: relative
		z-index: 2
	&__p-title
		position: relative
		z-index: 2
		text-align: center
	&__p-info
	&__p-time
	&__p-content
		padding: 40px 0
	&__p-autor
		position: relative
		&::after
			content: ''
			width: 1px
			height: 100%
			top: 0
			bottom: 0
			position: absolute
			background-color: #f1f1f1
			left: 50%
			margin-left: -0.5px
			display: block
	&__p-tags
		padding-bottom: 30px
	&__p-copy
		padding-bottom: 30px
	&__p-rate
		padding-bottom: 30px
	&__p-article
		@include clearfix
		padding-top: 10px
		border-top: 1px solid #ebebeb
		padding-bottom: 20px
	&__p-readalso
		&-title
	&__p-tabs
		position: relative
		border-bottom: 2px solid #e7e9ee
	&__p-rec
		position: relative
		padding-top: 10px
		padding-bottom: 10px
		.p-vhod__title
			font-size: 13px
	&__p-notime
		display: none

.footer
	padding-top: 30px
	border-top: 1px solid #eaeaea
	padding-bottom: 40px
	&__f-left
	.h-social
		font-size: 0
	.h-social__item
		margin-left: 10px
		&:first-child
			margin-left: 0
	.h-social__link
		width: 33px
		height: 33px
		background-color: #9d9d9d
		&:hover
			svg
				fill: #fff
		&-1
			&:hover
				background-color: #6182aa
		&-2
			&:hover
				svg
				background-image: url(../img/Hakim-Optical-Whats-Buzzing.jpg)
				background-size: cover
		&-3
			&:hover
				background-color: #1da1f2
		&-4
			&:hover
				background-color: #3b5998
		&-5
			&:hover
				background-color: #179cde
		&-6
			&:hover
				background-color: #d73d32
		&-7
			&:hover
				background-color: #ee8208
		&-8
			&:hover
				background-color: #ff8c00
		&-9
			&:hover
				background-color: #e62117
	&__f-right
		text-align: right