@import "bourbon/bourbon"
@import "sass/_blocks"

/*Компоненты*/

.h-email
	padding-left: 33px
	position: relative
	display: inline-block
	svg
		width: auto
		fill: #e2223f
		position: absolute
		display: block
		left: 0
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
	&__link
		color: #333333
		border-bottom: 1px solid #d7d7d7
		text-decoration: none
		font-size: 11px
		text-transform: uppercase
		&:hover, &:focus, &:active
			color: #333333
			text-decoration: none
			color: #333333
			border-bottom-color: transparent
		&:active
			border-bottom-color: #d7d7d7

.h-phone
	display: inline-block
	position: relative
	padding-left: 23px
	svg
		width: 12px
		fill: #333
		display: block
		position: absolute
		left: 0
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
	&__link
		display: inline-block
		color: #333
		font-size: 15px
		text-decoration: none
		&:hover, &:focus, &:active
			text-decoration: none
			color: #333
		&:last-child
			&::before
				content: '/'
				margin: 0 5px

.h-buttons
	display: inline-block
	padding: 0 15px
	&:last-child
		padding-right: 0
	&__link
		text-transform: uppercase
		color: #333333
		border-bottom: 1px solid #d7d7d7
		text-decoration: none
		font-size: 11px
		&:hover, &:focus, &:active
			color: #333333
			text-decoration: none
			border-bottom-color: transparent
		&:active
			border-bottom-color: #d7d7d7


.h-logo
	display: inline-block
	svg
		width: 115px
		display: block
		fill: #fff

.h-nav
	font-size: 0
	&__item
		display: inline-block
		position: relative
		padding: 0 26px
	&__link
		display: inline-block
		text-transform: uppercase
		font-weight: bold
		color: #fff
		text-decoration: none
		padding: 33px 0 34px
		line-height: 8px
		min-width: 30px
		text-align: center
		font-size: 14px
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff
			text-decoration: none

.h-social
	&__item
		display: inline-block
	&__link
		width: 20px
		height: 14px
		line-height: 20px
		text-align: center
		position: relative
		display: block
		svg
			fill: #fff
			display: block
		&-1
			svg
				width: 19px
		&-2
			svg
				width: 14px
		&-3
			svg
				width: 17px
		&-4
			svg
				height: 14px
		&-5
			svg
				width: 14px
		&-6
			svg
				width: 20px
		&-7
			svg
				height: 14px
		&-8
			svg
				width: 14px
		&-9
			svg
				width: 14px

.h-search
	svg
		width: 13px
		fill: #fff