@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

.p-title {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 35px;
}

.p-title-big {
  font-size: 47px;
  line-height: 47px;
  color: #fff;
  font-family: "AmazingGroteskUltra", sans-serif;
}

.p-content p {
  font-size: 20px;
  line-height: 1.7;
  padding-bottom: 30px;
  display: block;
  color: #333;
}

.p-content h2 {
  font-size: 30px;
  padding-bottom: 30px;
  font-family: "ProximaNovaBold", sans-serif;
  line-height: 30px;
}

.p-content a {
  color: #e2223f;
  text-decoration: underline;
}

.p-content a:hover, .p-content a:focus, .p-content a:active {
  text-decoration: none;
  color: #e2223f;
}

.p-content a:active {
  text-decoration: underline;
}

.p-content img {
  display: block;
  width: 100%;
  height: auto;
}

.p-content ul {
  padding-bottom: 30px;
}

.p-content ul li {
  display: block;
  margin-left: 30px;
  padding-left: 30px;
  position: relative;
  line-height: 1.7;
  font-size: 20px;
}

.p-content ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid #e32d49;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 13px;
}

.p-content blockquote {
  margin: 10px 0 40px;
  display: block;
  font-size: 18px;
  line-height: 1.5em;
  padding: 38px 130px 38px 145px;
  font-family: "AmazingGroteskBook", sans-serif;
  background: #f6f6f6;
  position: relative;
}

.p-content blockquote::before {
  content: "“";
  display: block;
  position: absolute;
  left: 90px;
  top: 55px;
  font-size: 70px;
  color: #e2223f;
  font-family: "ProximaNovaBold", sans-serif;
}

.p-img {
  margin-bottom: 25px;
}

.p-img__description {
  display: block;
  padding: 15px 0 25px;
  color: #999;
  font-size: 16px;
  font-family: "ProximaNovaRegularIt";
}

.container-default {
  width: 1302px;
  margin: 0 auto;
}

/*Внешние блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "ProximaNovaRegular", sans-serif;
  overflow-x: hidden;
}

.header__top {
  padding: 18px 0;
}

.header__h-info {
  text-align: center;
}

.header__h-phone {
  display: inline-block;
}

.header__h-buttons {
  display: inline-block;
  font-size: 0;
  padding-left: 15px;
}

.header__bottom {
  background-color: #000;
  position: relative;
}

.header__h-logo {
  padding-top: 20px;
  padding-bottom: 29px;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.header__h-nav {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.header__h-wrapper {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.header__h-social {
  display: inline-block;
}

.header__h-search {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

.header__h-search::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
  margin-top: -15px;
  display: block;
}

.header__h-dispatch, .header__h-sitesearch {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.page__top {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  position: relative;
  padding: 20px 0 100px;
  margin-bottom: 30px;
}

.page__top::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.page__p-path {
  margin-top: 60px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 28px;
  position: relative;
  z-index: 2;
}

.page__p-title {
  position: relative;
  z-index: 2;
  text-align: center;
}

.page__p-content {
  padding: 40px 0;
}

.page__p-autor {
  position: relative;
}

.page__p-autor::after {
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #f1f1f1;
  left: 50%;
  margin-left: -0.5px;
  display: block;
}

.page__p-tags {
  padding-bottom: 30px;
}

.page__p-copy {
  padding-bottom: 30px;
}

.page__p-rate {
  padding-bottom: 30px;
}

.page__p-article {
  padding-top: 10px;
  border-top: 1px solid #ebebeb;
  padding-bottom: 20px;
}

.page__p-article::after {
  clear: both;
  content: "";
  display: table;
}

.page__p-tabs {
  position: relative;
  border-bottom: 2px solid #e7e9ee;
}

.page__p-rec {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page__p-rec .p-vhod__title {
  font-size: 13px;
}

.footer {
  padding-top: 30px;
  border-top: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.footer .h-social {
  font-size: 0;
}

.footer .h-social__item {
  margin-left: 10px;
}

.footer .h-social__item:first-child {
  margin-left: 0;
}

.footer .h-social__link {
  width: 33px;
  height: 33px;
  background-color: #9d9d9d;
}

.footer .h-social__link:hover svg {
  fill: #fff;
}

.footer .h-social__link-1:hover {
  background-color: #6182aa;
}

.footer .h-social__link-2:hover {
  background-image: url(../img/Hakim-Optical-Whats-Buzzing.jpg);
  background-size: cover;
}

.footer .h-social__link-3:hover {
  background-color: #1da1f2;
}

.footer .h-social__link-4:hover {
  background-color: #3b5998;
}

.footer .h-social__link-5:hover {
  background-color: #179cde;
}

.footer .h-social__link-6:hover {
  background-color: #d73d32;
}

.footer .h-social__link-7:hover {
  background-color: #ee8208;
}

.footer .h-social__link-8:hover {
  background-color: #ff8c00;
}

.footer .h-social__link-9:hover {
  background-color: #e62117;
}

.footer__f-right {
  text-align: right;
}

/*Компоненты*/
.h-email {
  padding-left: 33px;
  position: relative;
  display: inline-block;
}

.h-email svg {
  width: auto;
  fill: #e2223f;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.h-email__link {
  color: #333333;
  border-bottom: 1px solid #d7d7d7;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
}

.h-email__link:hover, .h-email__link:focus, .h-email__link:active {
  color: #333333;
  text-decoration: none;
  color: #333333;
  border-bottom-color: transparent;
}

.h-email__link:active {
  border-bottom-color: #d7d7d7;
}

.h-phone {
  display: inline-block;
  position: relative;
  padding-left: 23px;
}

.h-phone svg {
  width: 12px;
  fill: #333;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.h-phone__link {
  display: inline-block;
  color: #333;
  font-size: 15px;
  text-decoration: none;
}

.h-phone__link:hover, .h-phone__link:focus, .h-phone__link:active {
  text-decoration: none;
  color: #333;
}

.h-phone__link:last-child::before {
  content: '/';
  margin: 0 5px;
}

.h-buttons {
  display: inline-block;
  padding: 0 15px;
}

.h-buttons:last-child {
  padding-right: 0;
}

.h-buttons__link {
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #d7d7d7;
  text-decoration: none;
  font-size: 11px;
}

.h-buttons__link:hover, .h-buttons__link:focus, .h-buttons__link:active {
  color: #333333;
  text-decoration: none;
  border-bottom-color: transparent;
}

.h-buttons__link:active {
  border-bottom-color: #d7d7d7;
}

.h-logo {
  display: inline-block;
}

.h-logo svg {
  width: 115px;
  display: block;
  fill: #fff;
}

.h-nav {
  font-size: 0;
}

.h-nav__item {
  display: inline-block;
  padding: 0 26px;
  position: relative;
}

.h-nav__item:hover .h-nav__link, .h-nav__item:focus .h-nav__link, .h-nav__item:active .h-nav__link {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.h-nav__item:hover .h-nav__link::after, .h-nav__item:focus .h-nav__link::after, .h-nav__item:active .h-nav__link::after {
  content: '';
  z-index: 2;
  bottom: -3px;
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #e53953;
}

.h-nav__item-menu svg {
  display: none;
  width: 30px;
  height: 10px;
  position: absolute;
  bottom: -4px;
  fill: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.h-nav__item-active svg {
  display: block;
}

.h-nav__item-active .h-nav__link:after {
  display: none !important;
}

.h-nav__link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 33px 0 34px;
  line-height: 10px;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.h-nav__link:hover, .h-nav__link:focus, .h-nav__link:active {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.h-nav__link:hover::after, .h-nav__link:focus::after, .h-nav__link:active::after {
  content: '';
  z-index: 2;
  bottom: -3px;
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #e53953;
}

.h-social {
  font-size: 0;
}

.h-social__item {
  display: inline-block;
  margin-right: 4px;
}

.h-social__link {
  display: block;
  position: relative;
  height: 14px;
  width: 20px;
}

.h-social__link svg {
  fill: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.h-social__link-1 svg {
  width: 19px;
  margin-left: -10px;
}

.h-social__link-1:hover svg {
  fill: #6182aa;
}

.h-social__link-2 svg {
  width: 14px;
  margin-left: -7px;
}

.h-social__link-2:hover svg {
  fill: url(#wood);
}

.h-social__link-3 svg {
  width: 17px;
  margin-left: -8.5px;
}

.h-social__link-3:hover svg {
  fill: #1da1f2;
}

.h-social__link-4 svg {
  height: 14px;
  margin-left: -7px;
}

.h-social__link-4:hover svg {
  fill: #3b5998;
}

.h-social__link-5 svg {
  width: 14px;
  margin-left: -7px;
}

.h-social__link-5:hover svg {
  fill: #179cde;
}

.h-social__link-6 svg {
  width: 20px;
  margin-left: -10px;
}

.h-social__link-6:hover svg {
  fill: #d73d32;
}

.h-social__link-7 svg {
  height: 14px;
  margin-left: -7px;
}

.h-social__link-7:hover svg {
  fill: #ee8208;
}

.h-social__link-8 svg {
  width: 14px;
  margin-left: -7px;
}

.h-social__link-8:hover svg {
  fill: #ff8c00;
}

.h-social__link-9 svg {
  width: 14px;
  margin-left: -7px;
}

.h-social__link-9:hover svg {
  fill: #e62117;
}

.h-search {
  position: relative;
}

.h-search svg {
  width: 13px;
  fill: #fff;
}

.h-subnav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
  background: -webkit-linear-gradient(top, #fff, #eeeeee);
  background: -moz-linear-gradient(top, #fff, #eeeeee);
  background: -o-linear-gradient(top, #fff, #eeeeee);
  background: -ms-linear-gradient(top, #fff, #eeeeee);
  background: linear-gradient(to bottom, #fff, #eeeeee);
  display: none;
  z-index: 20;
}

.h-subnav::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #000;
}

.h-subnav__item {
  display: inline-block;
  padding: 0 26px;
  position: relative;
}

.h-subnav__link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 28px 0 24px;
  line-height: 10px;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.h-subnav__link:hover, .h-subnav__link:focus, .h-subnav__link:active {
  text-decoration: none;
  color: #000;
  text-decoration: none;
}

.h-subnav__link:hover::after, .h-subnav__link:focus::after, .h-subnav__link:active::after {
  content: '';
  z-index: 2;
  bottom: -3px;
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #e53953;
}

.h-dispatch__row {
  display: block;
  width: 100%;
}

.h-dispatch__area {
  position: relative;
  display: inline-block;
}

.h-dispatch__input {
  height: 34px;
  width: 853px;
  border: none;
  border-radius: 20px;
  padding: 2px 52px 2px 20px;
  font-size: 13px;
}

.h-dispatch__button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  right: 2px;
  top: 2px;
  border: none;
  text-indent: -9999px;
  background-size: 11px auto;
}

.h-dispatch__info {
  position: relative;
  padding-left: 36px;
  display: inline-block;
  margin-left: 20px;
  min-height: 18px;
}

.h-dispatch__close {
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 2;
  left: 0;
}

.h-dispatch__close::before {
  content: '';
  height: 28px;
  width: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1px;
}

.h-dispatch__close::after {
  content: '';
  width: 28px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
}

.h-dispatch__link {
  line-height: 28px;
  font-size: 8pt;
  text-decoration: underline;
  color: #fff;
  display: inline-block;
}

.h-dispatch__link:hover, .h-dispatch__link:focus, .h-dispatch__link:active {
  text-decoration: none;
  color: #fff;
}

.h-dispatch__link:active {
  text-decoration: underline;
}

.h-dispatch__description {
  color: #fff;
  font-size: 10px;
  padding-top: 5px;
  display: block;
  padding-left: 20px;
}

.h-dispatch__description a {
  color: #fff;
  text-decoration: underline;
}

.h-dispatch__description a:hover, .h-dispatch__description a:focus, .h-dispatch__description a:active {
  text-decoration: none;
  color: #fff;
}

.h-dispatch__description a:active {
  text-decoration: underline;
}

.p-path {
  font-size: 0;
}

.p-path__item {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.p-path__item::after {
  content: '/';
  width: 20px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.p-path__item:last-child {
  padding-right: 0;
}

.p-path__item:last-child::after {
  display: none;
}

.p-path__link {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  display: block;
}

.p-path__link:hover, .p-path__link:focus, .p-path__link:active {
  text-decoration: none;
  color: #fff;
}

.p-path__link:active {
  text-decoration: underline;
}

.p-path__last {
  color: #fff;
  font-size: 14px;
  display: block;
}

.p-info {
  position: relative;
  margin-bottom: 30px;
}

.p-info__data {
  display: inline-block;
  color: #999999;
  font-size: 14px;
}

.p-info__name {
  display: inline-block;
  margin-left: 35px;
  border-bottom: 1px solid #f0d5d8;
  font-size: 14px;
  color: #e2223f;
  font-family: "ProximaNovaBold", sans-serif;
}

.p-info__name:hover, .p-info__name:focus, .p-info__name:active {
  text-decoration: none;
  color: #e2223f;
  border-bottom-color: transparent;
}

.p-info__name:active {
  border-bottom-color: #f0d5d8;
}

.p-info__share {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  padding: 13px 26px 12px 13px;
  color: #999;
  background-color: #f5f5f5;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 0;
  width: auto;
}

.p-info__share svg {
  width: 13px;
  fill: #c5c5c5;
  display: block;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-info__text {
  padding: 0 15px 0 10px;
  font-family: "ProximaNovaBold", sans-serif;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
}

.p-info__hidden {
  font-size: 0;
  margin-right: 10px;
  display: none;
}

.p-info__item {
  display: inline-block;
  padding: 0 10px;
}

.p-info__link {
  display: block;
  height: 15px;
}

.p-info__link svg {
  width: auto;
  position: relative;
  right: 0;
  left: 0;
}

.p-info__link-1 svg {
  width: 19px;
  height: auto;
}

.p-info__link-1:hover svg {
  fill: #6182aa;
}

.p-info__link-2 svg {
  width: 20px;
  height: auto;
}

.p-info__link-2:hover svg {
  fill: #1da1f2;
}

.p-info__link-3 svg {
  height: 14px;
  width: auto;
}

.p-info__link-3:hover svg {
  fill: #3b5998;
}

.p-info__link-4 svg {
  width: 20px;
  height: auto;
}

.p-info__link-4:hover svg {
  fill: #d73d32;
}

.p-time {
  padding: 9px 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}

.p-time__reading {
  display: inline-block;
  color: #666;
  font-size: 14px;
  padding-left: 25px;
  position: relative;
}

.p-time__reading strong {
  font-family: "ProximaNovaBold", sans-serif;
}

.p-time__reading svg {
  width: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #999;
}

.p-time__notime {
  display: inline-block;
  height: 32px;
  text-decoration: none;
  padding: 9px 16px;
  margin-left: 15px;
  border-radius: 15px;
  background-color: #e2223f;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  font-family: "ProximaNovaBold", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.p-time__notime:hover, .p-time__notime:focus, .p-time__notime:active {
  text-decoration: none;
  color: #fff;
  background-color: #e53953;
}

.p-time__notime:active {
  background-color: #e2223f;
}

.p-time__comments {
  padding-left: 25px;
  line-height: 13px;
  line-height: 14px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #666;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-time__comments svg {
  width: 11px;
  fill: #999;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-time__comments:hover, .p-time__comments:focus, .p-time__comments:active {
  color: #e53953;
  text-decoration: none;
}

.p-time__comments:hover svg, .p-time__comments:focus svg, .p-time__comments:active svg {
  fill: #e53953;
}

.p-time__comments:active {
  color: #666;
}

.p-time__comments:active svg {
  fill: #999;
}

.matnav {
  counter-reset: matnav;
  padding-bottom: 5em !important;
}

.matnav__title {
  font-size: 20px;
  line-height: 1.7;
  font-family: "ProximaNovaBold", sans-serif;
  display: block;
  text-align: left;
  color: #333;
}

.matnav__item {
  position: relative !important;
  padding: 1.8em 0 0.9em 52px !important;
  display: block !important;
  margin: 0 !important;
}

.matnav__item::before {
  counter-increment: matnav !important;
  content: counters(matnav, "") !important;
  font-size: 40px !important;
  color: #d4d4d4 !important;
  display: inline-block !important;
  position: absolute !important;
  left: 0 !important;
  top: 17px !important;
  font-family: "ProximaNovaBold", sans-serif !important;
  border: none !important;
  border-radius: 0 !important;
}

.matnav__link {
  color: #333 !important;
  font-size: 20px;
  line-height: 1.6em;
  text-decoration: underline;
}

.matnav__link:hover, .matnav__link:focus, .matnav__link:active {
  text-decoration: none;
  color: #333;
}

.matnav__link:active {
  text-decoration: underline;
}

.submatnav {
  padding-top: 0.9em !important;
  padding-bottom: 0 !important;
}

.submatnav__item {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
}

.submatnav__item::before {
  display: none !important;
}

.submatnav__link {
  font-size: 20px;
  line-height: 1.6em;
  color: #e2223f;
  text-decoration: underline;
}

.submatnav__link:hover, .submatnav__link:focus, .submatnav__link:active {
  text-decoration: none;
  color: #e2223f;
}

.submatnav__link:active {
  text-decoration: underline;
}

.p-autor {
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}

.p-autor::after {
  clear: both;
  content: "";
  display: table;
}

.p-autor__left {
  width: 50%;
  float: left;
  padding: 35px 30px 10px;
}

.p-autor__left::after {
  clear: both;
  content: "";
  display: table;
}

.p-autor__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-autor__img-wp {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  float: left;
  margin-right: 35px;
}

.p-autor__info {
  float: left;
  position: relative;
}

.p-autor__info .p-autor__link {
  font-size: 16px;
  position: absolute;
  line-height: 1.3em;
  display: inline-block;
  bottom: -39px;
  text-decoration: underline;
  color: #e2223f;
  left: 0;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1.7;
}

.p-autor__info .p-autor__link:hover, .p-autor__info .p-autor__link:focus, .p-autor__info .p-autor__link:active {
  color: #e2223f;
  text-decoration: none;
}

.p-autor__info .p-autor__link:active {
  text-decoration: underline;
}

.p-autor__title {
  font-size: 18px;
  color: #333;
  font-size: 18px;
  line-height: 18px;
  font-family: "ProximaNovaBold", sans-serif;
  margin-bottom: 1em;
}

.p-autor__name {
  display: block;
  line-height: 1.7em;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 18px;
}

.p-autor__right {
  float: right;
  width: 50%;
  padding: 35px 30px 10px;
}

.p-autor__item {
  margin-bottom: 0.5em;
}

.p-autor__item .p-autor__link {
  position: static;
  white-space: normal;
  text-decoration: underline;
  color: #e2223f;
  line-height: 1.7;
  display: inline-block;
  font-size: 16px;
}

.p-autor__item .p-autor__link:hover, .p-autor__item .p-autor__link:focus, .p-autor__item .p-autor__link:active {
  color: #e2223f;
  text-decoration: none;
}

.p-tags {
  display: block;
  width: 100%;
  padding: 10px 13px 10px 29px;
  background: #ededed;
  position: relative;
}

.p-tags::before {
  content: '#';
  display: block;
  font-size: 18px;
  position: absolute;
  left: 13px;
  top: 16px;
  font-family: "ProximaNovaBoldIt", sans-serif;
  color: #999;
}

.p-tags__list {
  display: inline-block;
  font-size: 0;
}

.p-tags__item {
  display: inline-block;
  padding-left: 10px;
}

.p-tags__link {
  display: block;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #fff;
  color: #999;
  border-bottom: 1px solid;
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.p-tags__link:hover, .p-tags__link:focus, .p-tags__link:active {
  text-decoration: none;
  color: #fff;
  background-color: #e53953;
}

.p-tags__link:active {
  color: #999;
  background-color: #fff;
}

.p-copy {
  color: #333;
  display: block;
  font-family: "ProximaNovaRegularIt", sans-serif;
  font-size: 14px;
}

.p-rate__title {
  display: inline-block;
  margin: 1px 15px 0 0;
  color: #333;
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 18px;
}

.p-readalso-title {
  padding-bottom: 10px;
  padding-top: 20px;
  display: block;
  color: #1a1a1a;
  font-size: 20px;
  font-family: "ProximaNovaSemibold", sans-serif;
}

.p-article {
  width: 25%;
  float: left;
}

.p-article__wrapper {
  display: block;
  padding: 15px;
}

.p-article__wrapper:hover, .p-article__wrapper:focus, .p-article__wrapper:active {
  text-decoration: none;
  color: #1a1a1a;
  background: #f0f1f2;
}

.p-article__wrapper:active {
  background-color: transparent;
}

.p-article__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-article__bottom {
  margin-top: 20px;
  height: 70px;
  overflow: hidden;
}

.p-article__title {
  color: #1a1a1a;
  font-family: "ProximaNovaSemibold", sans-serif;
  font-size: 18px;
}

.p-tabs__item {
  display: inline-block;
  color: #656c7a;
  font-size: 15px;
  padding: 12px 0;
  margin-right: 15px;
  font-family: "ProximaNovaBold", sans-serif;
  position: relative;
  cursor: pointer;
}

.p-tabs__item.active {
  color: #2a2e2e;
}

.p-tabs__item.active::after {
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0;
  bottom: -2px;
  background-color: #e2223f;
}

.p-vhod {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-vhod__comment {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.p-vhod__comment::after {
  content: "\f075";
  font-size: 18px;
  font-family: FontAwesome;
  display: block;
  color: #f05f70;
  font-size: 19px;
}

.p-vhod__comment span {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  display: block;
  color: #fff;
  font-size: 12px;
}

.p-vhod__comment:hover, .p-vhod__comment:focus, .p-vhod__comment:active {
  text-decoration: none;
  color: #fff;
}

.p-vhod__vhod {
  display: inline-block;
  position: relative;
}

.p-vhod__title {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  font-family: "ProximaNovaBold", sans-serif;
  color: #2a2e2e;
  padding-right: 16px;
}

.p-vhod__title::after {
  content: "\f0d7";
  display: block;
  position: absolute;
  right: 0;
  font-family: "FontAwesome";
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-vhod__title:hover, .p-vhod__title:focus, .p-vhod__title:active {
  color: #2a2e2e;
  text-decoration: none;
}

.p-vhod__list {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 13px;
  border: 2px solid #687a86;
  border-radius: 3px;
  background: #fff;
  box-shadow: none;
  min-width: 130px;
  z-index: 100;
  padding: 4px 0;
  display: none;
}

.p-vhod__item {
  display: block;
}

.p-vhod__link {
  color: #687a86;
  padding: 4px 15px;
  position: relative;
  display: block;
}

.p-vhod__link:hover, .p-vhod__link:focus, .p-vhod__link:active {
  background-color: #f05f70;
  color: #fff;
  text-decoration: none;
}

.p-vhod__link:active {
  color: #687a86;
  background-color: transparent;
}

.p-rec__rec {
  margin-right: 12px;
  color: #656c7a;
  font-size: 13px;
  font-family: "ProximaNovaBold", sans-serif;
}

.p-rec__rec:hover, .p-rec__rec:focus, .p-rec__rec:active {
  text-decoration: none;
  color: #656c7a;
}

.p-rec__rec i {
  font-size: 14px;
  color: #f05f70;
}

.p-rec__rec span {
  position: relative;
  font-size: 11px;
  font-weight: 700;
  padding: 2px 5px 3px;
  background: #e7e9ee;
  border-radius: 2px;
  margin-left: 2px;
  font-family: "ProximaNovaRegular", sans-serif;
}

.p-rec__pod {
  color: #656c7a;
  font-size: 13px;
  font-family: "ProximaNovaBold", sans-serif;
}

.p-rec__pod:hover {
  text-decoration: none;
  color: #656c7a;
}

.p-textarea {
  padding-left: 60px;
  position: relative;
  height: 48px;
  width: 100%;
  margin-bottom: 20px;
}

.p-textarea__icon {
  width: 48px;
  height: 48px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.p-textarea__icon img {
  display: block;
  width: 100%;
}

.p-textarea__textarea {
  display: block;
  width: 100%;
  height: 48px;
  resize: none;
  font-size: 14px;
  color: #2a2e2e;
  padding: 6px 10px 8px;
}

.f-logo {
  display: inline-block;
}

.f-logo svg {
  width: 115px;
  display: block;
  fill: #bfbfbf;
}

.f-copy {
  font-size: 11px;
  line-height: 15px;
  color: #333333;
  margin: 36px 0 30px;
}

.f-copy a {
  color: #e2223f;
  text-decoration: underline;
}

.f-copy a:hover, .f-copy a:focus, .f-copy a:active {
  text-decoration: none;
  color: #e2223f;
}

.f-copy a:active {
  text-decoration: none;
}

.f-nav {
  margin: 15px 0 35px;
}

.f-nav__item {
  display: inline-block;
  margin-left: 50px;
}

.f-nav__item:first-child {
  margin-left: 0;
}

.f-nav__link {
  color: #999;
  text-transform: uppercase;
}

.f-nav__link:hover, .f-nav__link:focus, .f-nav__link:active {
  color: #999;
  text-decoration: underline;
}

.f-nav__link:active {
  text-decoration: none;
}
